<section class="my-32 container mx-auto flex">
  <div class="w-1/2 pl-12">
    <p class="mt-6 uppercase text-ninja-red text-5xl leading-snug font-light font-oswald tracking-tight text-right mr-16">
      Here's what our<br/> 
      customers think.
    </p>
  </div>

  <div class="w-1/2">
    <div class="w-4/5 flex-col">
      <%= image_tag "website/avatar2@2x.png", class: "rounded-full h-36 pl-16 my-8" %>

      <div class="relative">
        <div class="blockquote pl-16">
          <blockquote class="text-white font-light text-2xl pl-2">
            This works smooth & amazing, yes this is exactly what we‘re looking for! I‘ll play a bit with this, really like your work.”
          </blockquote>
        </div>
      </div>

      <p class="mt-8 text-white pl-16 ml-2">
        <strong class="text-ninja-red font-semibold">Sebastian Hirth</strong>
        <br/>
        Founder / <%= link_to "Blackmite", "https://blackmite.com/index", target: "_blank" %>
      </p>

    </div>
  </div>
</section>