<h1>Editing pass template field</h1>

<%= render "form", pass_template_field: @pass_template_field %>

<br>

<div>
  <%= link_to "Show this pass template field", @pass_template_field %> |
  <%= link_to "Back to pass template fields", pass_template_fields_path %>
</div>
