<h1>Editing billing ledger</h1>

<%= render "form", billing_ledger: @billing_ledger %>

<br>

<div>
  <%= link_to "Show this billing ledger", @billing_ledger %> |
  <%= link_to "Back to billing ledgers", billing_ledgers_path %>
</div>
