<div id="<%= dom_id invoice %>">
  <p>
    <strong>Account:</strong>
    <%= invoice.account_id %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= invoice.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= invoice.end_date %>
  </p>

</div>
