<section class="bg-ninja-red">
  <div class="text-center pt-12 w-full">
    <h1 class="uppercase text-6xl text-white font-light font-oswald mx-auto">Simple tutorials to lean about NFC</h1>
    <span class="inline-block text-gray-200 text-2xl w-11/12 md:w-4/12 mx-auto mt-8 mb-32">
      Find the right guide or tutorial to help you build passes like a ninja
    </span>
  </div>
</section>

<section class="container mx-auto -mt-24 mb-20">
  <div class="w-10/12 mx-auto grid grid-cols-1 gap-8 md:grid-cols-3">
    <% @topics.each do |topic| %>
      <%= link_to tutorial_path(topic[:path]), class: "bg-white shadow py-20 px-6 text-center rounded-xl" do %>
        <strong class="text-xl"><%= topic[:path].titleize %></strong>
        <p><%= pluralize(topic[:article_count], "tutorial") %></p>
      <% end %>
    <% end %>
  </div>
</section>

<%= render partial: 'tutorials/partials/popular_tutorials' %>
