<div class="flex mt-4 mb-6 bg-gray-700 p-3 rounded">
  <%= image_tag "website/andres.jpg", class: "rounded-full h-12" %>

  <div class="flex-col ml-4">
    <strong class="text-white font-semibold">Andres Weber</strong>
    <p class="text-gray-300">Updated <%= 3.days.ago.to_formatted_s(:long)           %></p>
  </div>
</div>