<section class="bg-ninja-red">
  <div class="text-center pt-12 w-full">
    <h1 class="uppercase text-6xl text-white font-light font-oswald mx-auto">Simple pricing you can understand</h1>
    <span class="inline-block font-light text-gray-200 text-2xl w-11/12 md:w-4/12 mx-auto mt-8 mb-3">
      Number of pass templates + Number of active passes = Your price
    </span>
  </div>

  <section class="container mx-auto mt-10">
    <div class="flex flex-col md:flex-row" data-controller="pricing">
      <div class="flex mb-12 w-full px-2 flex-col md:px-0 md:w-7/12 md:flex-row">
        <div class="rounded-xl bg-white flex-col p-8 h-96 shadow-md w-full md:w-1/2">
          <strong class="mt-7 text-2xl block">
            1. Pass templates
          </strong>
          <p class="text-gray-500 text-sm">
            How many different pass designs do you need?
          </p>
          
          <div class="text-4xl font-bold my-4 pb-2">
            <input type="number" class="block w-full rounded-md border-gray-300 sm:text-sm" value="2" data-action="change->pricing#handleTemplateCountUpdate" data-pricing-target="passTemplateCount">
          </div>

          <div class="text-xl font-bold border-t py-2">
            <span class="font-normal block text-sm">A "pass template" is a template for all of your installed passes, designed by you</span>
            <span class="font-normal mt-2 block text-sm text-gray-500">We charge $5 per pass template</span>
          </div>
        </div>

        <div class="relative w-full md:w-1/2">
          <div class="w-1/6 mt-4 text-center mx-auto shadow bg-white rounded-md py-3 px-4 border text-xl font-bold md:w-auto md:absolute md:-left-6 md:top-40">+</div>
          <div class="rounded-tl-xl rounded-bl-xl rounded-tr-xl rounded-br-xl bg-gray-700 text-white flex-col p-8 mt-7 shadow-md md:rounded-tl-none md:rounded-bl-none">
           <strong class="text-2xl block">
              2. Active passes
            </strong>
            <p class="text-gray-400 text-sm">
              How many NFC passes do you plan to install?
            </p>
            
            <div class="text-4xl font-bold my-4 pb-2">
              <input type="number" class="block w-full rounded-md border-gray-300 text-gray-900 sm:text-sm" value="500" step="100" data-action="change->pricing#handlePassCountUpdate" data-pricing-target="activePassCount">
              <input type="range"
               min="0" max="150000" value="500" step="1000" class="bg-ninja-red rounded-full appearance-none cursor-pointer w-full h-2" data-action="change->pricing#handlePassCountSlide" data-pricing-target="activePassCountSlider" />
            </div>

            <div class="text-xl font-bold py-2">
              <span class="font-normal block text-sm">An "active pass" is any pass that has been installed and has not yet expired in a given month</span>
              <span class="font-normal mt-2 block text-sm text-gray-400">We charge $0.11 per active pass</span>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full flex text-white flex-col md:w-5/12 md:flex-row">
        <div class="text-8xl mx-8 mt-1 text-center md:text-left md:mt-32">=</div>
        <div class="text-9xl font-semibold mt-1 text-center md:mt-28 md:text-ledt" data-pricing-target="sum">
          <span data-pricing-target="sumContact"></span>
          <div data-pricing-target="monthlyTotalWrapper">
            $<span data-pricing-target="monthlyTotalNumber">65</span><span class="text-xl">/mo</span>
          </div>
          <div class="text-lg text-center">
            <hr class="mt-3 mb-6">
            <%= link_to "Get Started for Free", "/", class: "mx-auto hidden font-semibold border border-white px-5 py-2 rounded-full text-sm transition-all duration-500 hover:bg-white hover:text-black md:inline-block", data: { 'pricing-target': 'signupLink' } %>
          </div>
        </div>
      </div>
    </div>
  </section>

  <p class="text-gray-200 text-center w-9/12 mx-auto pb-12">
    Every verified account receives $10 in free credits to start.
    <br/>
    <%= link_to "Get Started for Free", "/", class: "inline-block font-semibold border border-white px-5 py-2 rounded-full text-sm transition-all duration-500 mt-4 hover:bg-white hover:text-black" %>
  </p>
</section>

<section class="mx-auto bg-gray-600 text-center pt-24">
  <h2 class="text-6xl text-white font-light font-oswald mx-auto uppercase">FREQUENTLY ASKED QUESTIONS</h2>
  <div class="container mx-auto">
    <ul class="flex-col mx-auto pb-12 text-left w-11/12 md:w-7/12">
      <li class="my-8 text-white">
        <strong class="font-semibold text-lg">I don’t have an NFC certificate, can I still make passes with your service?</strong>
        <p class="font-light text-lg mt-2">Yes! As an Apple and Google platform partner, we allow our customers to sign and issue NFC passes using our certificate. Once you get your own NFC certificate(s) you can swap in your Apple passTypeId and/or Google collectorId to your account so you can continue using our service as needed.</p>
      </li>
      <li class="my-8 text-white">
        <strong class="font-semibold text-lg">Will your service only work with your readers? Or will other VAS or SmartTap compatible readers work?</strong>
        <p class="font-light text-lg mt-2">Our pass service will work with any Apple VAS or Google Smarttap compatible readers. Configuring these readers is a pain so we simplify this process when you purchase them through us. What’s more, if you go with our FloVAS IoT units you’ll be able to manage and update them remotely over WiFi and not require a host PC.</p>
      </li>
      <li class="my-8 text-white">
        <strong class="font-semibold text-lg">I have my own NFC readers and can’t read your NFC passes. Why? Every time I read your passes I get a different ID.</strong>
        <p class="font-light text-lg mt-2">The Apple and Google NFC passes do not behave like simple NFC cards with fixed UUID. They have payment grade security which means that every time you scan them you get a different code. The reality is that there is unique information encrypted in the codes however you need a VAS compatible scanner and the proper keys to decode them.<br/>More details here.</p>
      </li>
      <li class="my-8 text-white">
        <strong class="font-semibold text-lg">Does your solution work offline?</strong>
        <p class="font-light text-lg mt-2">Yes. Our software for creating, updating, and validating passes is completely portable so you can access it from our AWS servers or host it inside your enterprise. You will need to set up some public endpoints to receive Wallet webhook calls so most customers choose to use our software for creating and updating passes and only run pass validation offline.</p>
      </li>
    </ul>
  </div>
</section>

<%= render partial: 'static/partials/testimonial' %>