<div id="<%= dom_id issued_pass_value %>">
  <p>
    <strong>Issued pass:</strong>
    <%= issued_pass_value.issued_pass_id %>
  </p>

  <p>
    <strong>Path:</strong>
    <%= issued_pass_value.path %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= issued_pass_value.value %>
  </p>

</div>
