<p style="color: green"><%= notice %></p>

<h1>Issued pass values</h1>

<div id="issued_pass_values">
  <% @issued_pass_values.each do |issued_pass_value| %>
    <%= render issued_pass_value %>
    <p>
      <%= link_to "Show this issued pass value", issued_pass_value %>
    </p>
  <% end %>
</div>

<%= link_to "New issued pass value", new_issued_pass_value_path %>
