@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-underline::after {
  right: 1.875rem;
  left: -2.5rem;
  top: 4rem;
  bottom: -4rem;
  position: absolute;
  content: "";
  background-color: #c75240;
  z-index: -1;
  height: 128px;
}

.custom-underline.left-aligned::after {
  right: 1.875rem;
  left: -2.5rem;
  top: 4.2rem;
  bottom: -4.2rem;
  position: absolute;
  content: "";
  background-color: #c75240;
  z-index: -1;
  height: 72px;
}

.mobile.custom-underline.left-aligned::after {
  right: 1.875rem;
  left: -0.8rem;
  top: 2.2rem;
  bottom: -2.2rem;
  position: absolute;
  content: "";
  background-color: #c75240;
  z-index: -1;
  height: 48px;
}

.custom-underline.small::after {
  width: 125%;
}

.custom-underline.medium::after {
  width: 96%;
}

.custom-underline.large::after {
  width: 125%;
}

.blockquote::before {
  content: "“";
  left: 0px;
  top: -0.8125rem;
  font-size: 10rem;
  line-height: 1;
  color: #c75240;
  @apply font-oswald absolute;
}
