@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-underline::after {
  right: 1.875rem;
  left: -2.5rem;
  top: 4rem;
  bottom: -4rem;
  position: absolute;
  content: "";
  background-color: #c75240;
  z-index: -1;
  height: 128px;
}

.custom-underline.small::after {
  width: 125%;
}

.custom-underline.medium::after {
  width: 96%;
}

.custom-underline.large::after {
  width: 125%;
}
