<div id="<%= dom_id pass_template %>">
  <p>
    <strong>Account:</strong>
    <%= pass_template.account_id %>
  </p>

  <p>
    <strong>Platform:</strong>
    <%= pass_template.platform %>
  </p>

  <p>
    <strong>Kind:</strong>
    <%= pass_template.kind %>
  </p>

</div>
